{% extends 'dashboard/layout.html' %}
{% block title %}
    Update Blog
{% endblock %}
{% block content %}

    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Edit {{ blogs.title }} :
    </h2>

    {% if messages %}
      {% for m in messages %}
        {% if m.tags == "error"%}
            <a class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-white bg-red-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-red" href="">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <span>{{m}}</span>
              </div>
              <span>X</span>
            </a>
        {% else %}
            <a style="background: #0e9f6e" class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-white  rounded-lg shadow-md focus:outline-none focus:shadow-outline-green" href="">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>
                <span>{{m}}</span>
              </div>
              <span>X</span>
            </a>
        {% endif %}

      {% endfor %}
    {% endif %}

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

        <div class="container mx-auto grid">
            <div class="grid gap-6 mb-8 md:grid-cols-2">
              <div class="min-w-0 p-4 ">
                  <img style="width: 500px; height: 200px" src="../{{ blogs.thumbnail}}">
              <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Blog image:</span>
                    <input type="file" id="img" name="thumbnail"  class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-blue-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray" accept="image/*">
               </label>
              </div>
                <div class="min-w-0 ">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">Title</span>
                      <input
                        class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-blue-400 focus:outline-none focus:shadow-outline-blue dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                        placeholder="Enter Blog Title" name="title" value="{{ blogs.title }}"
                      />
                    </label>

                    <label class="block mt-4 text-sm">
                      <span class="text-gray-700 dark:text-gray-400">
                        Blog Category:
                      </span>
                      <select
                        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-blue-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray"
                       name="tags">
                        <option value="{{ blogs.tags }}">{{ blogs.tags }}</option>
                        <option value="Action">Action</option>
                        <option value="Commedy">Comedy</option>
                        <option value="Romantic">Romantic</option>
                        <option value="Sci-fi">Sci-fi</option>
                        <option value="Drama">Drama</option>
                      </select>
                    </label>
                </div>
            </div>
        </div>

            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400">Description:</span>
              <textarea
                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-blue-400 focus:outline-none focus:shadow-outline-blue dark:focus:shadow-outline-gray"
                rows="10"
                placeholder="Enter some Description"
                name="content"
              >
                  {{ blogs.content }}
              </textarea>
            </label>

            <button type="submit"
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white
                    transition-colors duration-150 bg-blue-600 border
                    border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700
                    focus:outline-none focus:shadow-outline-blue">
                   Update blog
            </button>


            </form>
    </div>

{% endblock %}