{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/tailwind.output.css' %}" />
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
        <script src="{% static 'js/init-alpine.js' %}"></script>
        <link rel="icon" type="image/png" href="{% static '../templates/media/favicon.png' %}"/>
        <link rel="icon" type="image/png" href="{% static '../templates/media/favicon.png' %}"/>
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        {% block content %}
            <!---content will be rendered here....-->
        {% endblock %}
    </body>
</html>